<!-- http://node-swig.github.io/swig-templates/docs/ -->
{% extends "base.html" %}

{% block titulo %}Recetas{% endblock %}

{% block contenido %}
<ul>
    {% for receta in recetas %}
    <li>
        {{ receta.titulo }}
        {{ receta.tiempo }}
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block paginacion %}
<!-- Primera -->
<a href="/recetas?pg=1">Primera</a>

<!-- Anteior (si la hay) -->
{% if pgActual-1 >= 1 %}
<a href="/recetas?pg={{ pgActual - 1 }}">{{ pgActual - 1 }}</a>
{% endif %}

<!-- Actual -->
<a href="/recetas?pg={{ pgActual }}">{{ pgActual }}</a>

<!-- Siguiente (si la hay) -->
{% if pgActual+1 <= pgUltima %}
<a href="/recetas?pg={{ pgActual + 1 }}">{{ pgActual + 1 }}</a>
{% endif %}

<!-- Ultima -->
<a href="/recetas?pg={{ pgUltima }}">Ultima</a>
{% endblock %}